.btnanimet {
  position: relative;
  overflow: hidden; /* مهم عشان اللون ميفلتش برا */
  padding: 15px 40px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #eee;
  cursor: pointer;
  z-index: 1;
  transition: color 2s ease-in-out;
}
/* الطبقة اللي هتملى الزرار */
.btnanimet::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px; /* هنا بنحدد الزاوية */
  width: 0%;
  height: 0%;
  background: #d8c389; /* اللون اللي هيملى */
  z-index: -1;
  transition: width 1s ease, height 1s ease;
}
.btnanimet:hover {
  color: white;
  transition: width 0.4s ease, height 0.4s ease;
}
/* عند اللمس (hover) يبدأ يمتلي */
.btnanimet:hover::before {
  width: 200%;
  height: 250%;
}
