.crcilecon {
  display: flex;
  flex-flow: column, wrap;
  align-items: center;
  border-radius: 200px;
  width: 150px;
  height: 150px;
  justify-content: center;
}
.iconcr {
  width: 80px;
  height: 80px;
  background-color: rgba(202, 188, 149, 0.12);
  border-radius: 200px;
  position: relative;
}
.iconcr2 {
  width: 70px;
  height: 70px;
  background-color: #d8c389;
  border-radius: 200px;
  position: relative;
}
.iconcr:hover {
  background-color: #d8c389;
  transition: all, 0.5s;
}
.iconcr2:hover {
  background-color: #afa07a;
  transition: all, 0.5s;
}
.cardico:hover .iconcr2 {
  background-color: #afa07a;
  transition: all, 0.5s;
}
.cardico:hover .iconcr {
  background-color: #d8c389;
  transition: all, 0.5s;
}
