.header2 {
  display: flex;
  flex-flow: row;
  gap: 1000px;
  margin: 10px;
  direction: rtl;
}
.filter-header {
  list-style: none;
}
.filter-header-btn {
  height: 50px;
  font-size: 20px;
}
.continer2 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
  width: 100%;
  position: relative;
}
.avaliconP {
  gap: 210px;
  position: absolute;
  z-index: 20;
  display: flex;
  flex-flow: row;
  top: 0px;
}
.icon {
  background-color: black;
  color: white;
  position: relative;
  z-index: 5;
  cursor: pointer;
  left: -100px;
  padding: 5px;
  border-radius: 5px;
}
.Card:hover .icon {
  animation: icon 0.3s ease-in-out 1 forwards;
}
.icon:hover {
  animation: iconbackground 0.5s ease-in-out 1 forwards;
}
@keyframes iconbackground {
  to {
    background-color: red;
  }
}
@keyframes icon {
  from {
    left: -100px;
  }
  to {
    left: 0px;
  }
}

.avelubl {
  background-color: lightgreen;
  padding: 5px;
  border-radius: 5px;
}
.avelubl4 {
  background-color: lightcoral;
  padding: 5px;
  border-radius: 5px;
}
.avelubl3 {
  background-color: rgb(0, 131, 0);
  padding: 5px;
  border-radius: 5px;
}
.Card {
  display: flex;
  flex-flow: column;
  height: 450px;
  overflow: hidden;
  width: 300px;
}
.linkpro {
  color: black;
}
.linkpro:hover {
  color: #d8c389;
}
.zoom-img {
  width: 300px;
  height: auto;
  overflow: hidden;
}

.zoom-img img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.Card:hover .zoom-img img {
  transform: scale(1.2);
}

.caption2 {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  box-shadow: 5px 5px 150px 10px black;
  border-radius: 10px;
  z-index: 5;
  position: relative;
  padding: 20px;
  transform: translateY(100px); /* تطلع لفوق */
  opacity: 1;
  width: 350px;
  background-color: white;
}

.caption-text2 {
  display: flex;
  flex-flow: column;
}
h5,
h6 {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  width: 130px;
  direction: rtl;
}
.Card:hover .caption-btn2 {
  animation: btn 0.5s ease-in-out 1 forwards;
}
@keyframes btn {
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: black;
    color: white;
  }
}
.caption-btn2 {
  width: 150px;
  box-sizing: border-box;
  padding: 8px;
  position: relative;
  border: 2px solid black;
  background-color: white;
  margin: 0px;
}
