#root {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Cairo", sans-serif;
}

/* Mobile */
@media (max-width: 576px) {
}

/* Tablet */
@media (max-width: 768px) {
}

/* Small Laptop */
@media (max-width: 992px) {
}

/* Laptop */
@media (max-width: 1200px) {
}

/* Desktop */
@media (min-width: 1201px) {
}
